@import "tailwindcss";

@theme {
  --color-ps-yb: #0F3C65;
  --color-ps-fo: #C96C40;
  --color-ps-bckgnd: #FAF1CA;
  --font-brand: 'Italiana', serif;
  --font-primary: 'Kokoro', sans-serif;
  --font-secondary: 'Oooh Baby', cursive;
  --font-pecita: 'Pecita', sans-serif;
}

html, body {
  background-color: var(--color-ps-bckgnd);
  height: 100vh; 
}

